SECRET_KEY=secret_key
DEBUG=False
DATABASE_URL=postgres://youruser:yourpassword@localhost:5432/yourdb

RESPONSE_EMAIL_PASSWORD=password
EMAIL_HOST=smtp.gmail.com
RESPONSE_EMAIL=Local Peracosoft <email@example.com>
EMAIL_HOST_USER=email@example.com
EMAIL_PORT=587


REDIS_HOST=localhost
REDIS_PORT=6379

FRONTEND_URL=http//localhost:3000/


GROQ_API_KEY =""
FIELD_ENCRYPTION_KEY=<paste_the_real_key_here>


ENVIRONMENT=production



CELERY_TASK_DEFAULT_QUEUE=mgt_queue


BAISOFT_ASSISTANT_API_KEY=bai_feLVyUu6ZwMXsYs6QqfOAkFiFeS9b11lqrZ3WbJeN3E_soft-ai
BAISOFT_ASSISTANT_SCHEMA_URL=http://localhost:8000/api/externals/send-db-schema
# BAISOFT_ASSISTANT_WEBSOCKET_URL=ws://localhost:8000/ws/partner/
BAISOFT_ASSISTANT_WEBSOCKET_URL=ws://localhost:8000/ws/partner/
BAISOFT_ASSISTANT_WEBSOCKET_RECONNECT_DELAY=10
BAISOFT_ASSISTANT_MAX_RECONNECT_ATTEMPTS=5
BAISOFT_ASSISTANT_MAX_ROWS_RETURN=1000
BAISOFT_ASSISTANT_QUERY_TIMEOUT=10000
BAISOFT_ASSISTANT_WEBSOCKET_MAX_DELAY=30
BAISOFT_ASSISTANT_IDLE_TIMEOUT=3600
BAISOFT_ASSISTANT_FILE_URL=http://localhost:8000/api/externals/send-file
HR_INTEGRATED_BAISOFT_AI=True
BAISOFT_ASSISTANT_CHAT_DIR=media/baisoft_assistant_chats
BAISOFT_ASSISTANT_SQL_EXAMPLES_URL=http://localhost:8000/api/externals/send-sql-examples

ADMINS=Jane:jane.doe@example.com,John Doe:john@example.com
